@model TournamentSystem.Models.Person

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    @Model.PersonId.ToString() @Model.PersonFirstName.ToString() @Model.PersonLastName.ToString() @Model.PersonNickname.ToString() @Model.Email.ToString() @Model.Birthdate.ToString()
    @Html.ActionLink("Edit", "Edit", new {/* id = Model.PrimaryKey */}) |
    <a asp-action="Index">Back to List</a>
</div>
