@model IEnumerable<TournamentSystem.Models.Person>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <p>
                    Name: @item.PersonFirstName @item.PersonLastName<br/>
                    Nickname: @item.PersonNickname<br/>
                    Email: @item.PersonEmail
                </p>
                @Html.ActionLink("Edit", "Edit", new {id = item.PersonEmail}) |
                @Html.ActionLink("Details", "Details", new {id = item.PersonEmail}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.PersonEmail})
            </td>
        </tr>
}
    </tbody>
</table>
